.navbar a.active:hover {
  color: white;
  background-color: darkred;
}
.navbar a:hover {
  color: black;
  background-color: white;
}
.order-now:hover {
  background-color: darkred; /* Darkened color on hover */
}
.see-menu:hover {
  background-color: #4f4f4f;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
