@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../images/image12.png") no-repeat top center;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

body {
  backdrop-filter: blur(5px);
}

a {
  text-decoration: none;
}

/* Wrapper */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  z-index: 1;
}

/* Landing Page */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bolder;
  color: red;
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 140);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 0;
}
.logo {
  flex: 1;
  position: relative;
  top: 1vh;
  left: 2vw;
  height: 67px;
}

.l1,
.l2 {
  position: relative;
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
}

.l2 {
  top: -1vh;
  left: 2.67vw;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3vh 20px;
}

.navbar a {
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 2vw;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1vw;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  z-index: 999;
}

.navbar a.active {
  background-color: red;
}

.navbar a.active:hover {
  color: white;
  background-color: darkred;
}

.navbar a:hover {
  color: black;
  background-color: white;
}

.red {
  color: rgb(255, 0, 0);
}

.intro p {
  display: flex;
  justify-content: center;
}

.intro span {
  margin: 0 10px;
}

.mode,
.red {
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-size: 5vw;
  font-style: normal;
}

.info_1 {
  color: rgb(216, 209, 209);
  font-family: "Roboto", sans-serif;
}

.buttons {
  display: flex;
  margin-top: 3.33vh;
  justify-content: center;
  gap: 15px;
  border: none;
}

.order-now,
.see-menu {
  text-decoration: none;
  border: none;
  padding: 1vh 0.67vw;
  cursor: pointer;
  font-size: 1vw;
  border-radius: 0.47vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.order-now {
  background-color: red;
  color: white;
}

.order-now:hover {
  background-color: rgb(193, 0, 0);
}

.see-menu {
  color: red;
}

.see-menu:hover {
  background-color: #b5b5b5;
}

.see-menu .test_button {
  color: red;
}

.category {
  width: 90vw;
  max-width: 100%;
  padding: 16px;
  margin-bottom: 16px;
}

.category h2 {
  margin-bottom: 16px;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
}

.category-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  margin-left: 3vw;
  color: white;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  background-color: rgba(112, 112, 112, 0.486);
  border-radius: 8px;
  max-width: 20vw;
  max-height: 20vh;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 1vw;
}

.info {
  text-align: left;
}

.info div {
  margin: 5px;
}

.name {
  font-size: 13px;
  font-weight: bold;
}

.amount,
.rating,
.description,
.serves {
  font-size: 11px;
}

.rating {
  color: rgb(234, 255, 0);
}

.container {
  display: flex;
  justify-content: center;
}

.img-container {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
}

.item_quantity {
  color: #000;
}

.item_quantity button {
  width: 32px;
  height: 32px;
  font-size: 18px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.item_quantity span {
  font-size: 18px;
}

.item_quantity .decrease {
  border-radius: 5px 0 0 5px;
}

.item_quantity .increase {
  border-radius: 0 5px 5px 0;
}

.item_quantity button:active {
  background-color: #ddd;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2d2b2d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a09fa0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
