* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #ccd7d8;
}

.container {
    width: 90%;
    margin: 10px auto;
    background-color: gray;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headg{
    padding: 10px 0px 15px 0px;
}

.headg h2,h4 {
    text-align: center;
    margin-bottom: 10px;
}

hr {
    width: 15%;
    border: 1px solid;
    margin: 10px auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal {
    padding: 10px 24px 7px 24px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.meal h3 {
    text-align: center;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 5px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 3px;
}
input{
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
}
button{
    outline: none;
    border: none;
    background: grey;
    cursor: pointer;
    color: #fff;
    padding: 8px 20px;
    border-radius: 3px;
}
ul li{
    list-style: none;
    user-select: none;
    cursor: pointer;
    position: relative;   
}
ul li span:hover{
    background: #edeef0;
}
ul li span{
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 22px;
    color: #555;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
}